<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>具体的な脅威の内容</h2>
    悪意のある人が用意したリンクなどを通して，HTTPヘッダインジェクションの脆弱性があるアプリケーションにリクエストを送信すると，任意のヘッダやボディが追加されたウェブページが出力されてしまいます．
    <img th:src="@{/imgs/hedder1.png}" alt=""><br>
    また，リバースプロキシ等のキャッシュが汚染され，ウェブページの改ざんが引き起こされるリスクもあります<br>
    <img th:src="@{/imgs/hedder2.png}" alt=""><br>

    <h2>脅威への対処法</h2>
    <h3>
        ヘッダの出力を直接行わず，ウェブアプリケーションの実行環境や言語に用意されているヘッダ出力用 API を使用する．
    </h3>
    ウェブアプリケーションの実行環境によっては，Content-Type フィールドをはじめとする HTTP レス
ポンスヘッダを，プログラムで直接出力するものがあります．このような場合に，フィールド値に式の値
をそのまま出力すると，外部から与えられた改行コードが余分な改行として差し込まれることになりま
す．HTTP ヘッダは改行によって区切られる構造となっているため，これを許すと，任意のヘッダフィー
ルドや任意のボディを注入されたり，レスポンスを分割されたりする原因となります．ヘッダの構造は
継続行が許される等単純なものではありませんので，実行環境に用意されたヘッダ出力用の API を使
用することをお勧めします．<br>
ただし，実行環境によっては，ヘッダ出力 API が改行コードを適切に処理しない脆弱性が指摘され
ているものもあります．その場合には修正パッチを適用するか，適用できない場合には，次の対策をとります．
<br>
    <h3>改行コードを適切に処理するヘッダ出力用 API を利用できない場合は，改行を許可
        しないよう，開発者自身で適切な処理を実装する．
        </h3>
        例えば，改行の後に空白を入れることで継続行として処理する方法や，改行コード以降の文字を削除する方法，改行が含まれていたらウェブページ生成の処理を中止する方法等が考えられます．<br>
    
    <br>
    驚異への対処法 具体的な驚異の内容中の図 情報処理推進機構「安全なウェブサイトの作り方」改訂第7版(https://www.ipa.go.jp/files/000017316.pdf)より引用<br><br>

    <a href="/learn/6hedder/test1">問題へ進む</a>

</body>
</html>