<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    問題1 : 以下の選択肢の中から，セッション管理の不備をついた攻撃の<strong>根本的解決にならない</strong>ものを1つ選択してください．<br>
    1.セッション ID を推測が困難なものにする．<br>
    2.HTTPS 通信で利用する Cookie には secure 属性を加える．<br>
    3.ログイン成功後に，既存のセッション ID とは別に秘密情報を発行し，ページの遷移ごとにその値を確認する．<br>
    4.セッション ID を URL パラメータに格納する．<br>
    

    <form th:action="@{/learn/6hedder/pretest1}" method="post">
        <button name="ans" type="submit" value="1">1 
        <button name="ans" type="submit" value="2">2 
        <button name="ans" type="submit" value="3">3 
        <button name="ans" type="submit" value="4">4
    </form>
</body>
</html>