<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    問題2 : 以下の選択肢の中から，ディレクトリ・トラバーサルの根本的解決になるものを1つ選択してください．<br>
    1.外部からのパラメータを受け取る際は，TLS等の暗号化通信を利用する．<br>
    2.重要情報が含まれるファイルをWebサーバに配置する際は，類推されにくい場所に配置する．<br>
    3.外部からのパラメータによってファイルを参照する実装を避ける．<br>
    4.重要情報が含まれるファイルをWebサーバに配置する際は，類推されにくい名前で配置する．<br>

    <form th:action="@{/learn/2directory/test2}" method="post">
        <button name="ans" type="submit" value="1">1 
        <button name="ans" type="submit" value="2">2 
        <button name="ans" type="submit" value="3">3 
        <button name="ans" type="submit" value="4">4
    </form>
</body>
</html>