<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>不正解です</h2>
    正解は2.処理はPOSTメソッドでアクセスするようにして，そのページのhiddenパラメータに秘密情報を挿入し，実行ページで秘密情報が正しいものか照合する．です<br>
    ここでは具体的な例として、「入力画面 → 確認画面 → 登録処理」のようなページ遷移を取り上げて説明します。まず、利用者の入力内容を確認画面として出力する際、合わせて秘密情報を「hidden パラメータ」に出力するようにします。この秘密情報は、セッション管理に使用しているセッション ID を用いる方法の他、セッション ID とは別のもうひとつの ID（第 2 セッション ID）をログイン時に生成
    して用いる方法等が考えられます。生成する ID は暗号論的擬似乱数生成器を用いて、第三者に予測困難なように生成する必要があります。次に確認画面から登録処理のリクエストを受けた際は、リクエスト内容に含まれる「hidden パラメータ」の値と、秘密情報とを比較し、一致しない場合は登録処理を行わないようにします。このような実装であれば、攻撃者が「hidden パラメータ」に出力された秘密情報を入手できなければ、攻撃は成立しません。<br>
    なお、このリクエストは、POST メソッドで行うようにします。これは、GET メソッドで行った場合、外部サイトに送信される Referer に秘密情報が含まれてしまうためです。<br>
    <a href="/learn/5csrf/test2">次へ</a>
    
</body>
</html>