<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    問題2 : 以下の選択肢の中から，クロスサイトスクリプティング攻撃の根本的解決になるものを1つ選択してください．<br>
    1.URL を出力するときは、「javascript:」で始まるURLのみを許可する。<br>
    2.&lt;script>...&lt;/script>の生成を動的に行う．<br>
    3.ウェブページに出力する全ての要素に対して、エスケープ処理を施す。<br>
    4.CSSファイルを外部から取り込む．<br>

    <form th:action="@{/learn/5csrf/pretest2}" method="post">
        <button name="ans" type="submit" value="1">1 
        <button name="ans" type="submit" value="2">2 
        <button name="ans" type="submit" value="3">3 
        <button name="ans" type="submit" value="4">4
    </form>
</body>
</html>