<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    問題2 : 以下の選択肢の中から，CSRFの根本的解決になるものを1つ選択してください．<br>
    1.パスワード情報をセッションに格納し，処理の直前でパスワードが正しいか参照する．<br>
    2.処理はPOSTメソッドでアクセスするようにして，そのページのhiddenパラメータに秘密情報を挿入し，実行ページで秘密情報が正しいものか照合する．<br>
    3.Refererが正しい，もしくは空の場合のみリクエストを許可する．<br>
    4.Referer を送信しないようにする．<br>

    <form th:action="@{/learn/5csrf/test1}" method="post">
        <button name="ans" type="submit" value="1">1 
        <button name="ans" type="submit" value="2">2 
        <button name="ans" type="submit" value="3">3 
        <button name="ans" type="submit" value="4">4
    </form>
</body>
</html>