<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>具体的な脅威の内容</h2>
    ウェブアプリケーションにスクリプトを埋め込むことが可能な脆弱性がある場合，これを悪用した攻撃により，
    利用者のブラウザ上で不正なスクリプトが実行されてしまう可能性があります．
    掲示板サイト等を作成する際に，不正なスクリプトが投稿に含まれてしまうとそれがそのまま実行され，偽ページ等への誘導やCookieの流出などにつながってしまいます．<br>
    <img th:src="@{/imgs/xss.png}" alt=""><br>
    <h2>脅威への対処法</h2>
    <h3>ウェブページに出力する全ての要素に対して，エスケープ処理を施す．
    </h3>
    ウェブページを構成する要素として，ウェブページの本文や HTML タグの属性値等に相当する全て
    の出力要素にエスケープ処理を行います．エスケープ処理には，ウェブページの表示に影響する特別
    な記号文字（「&lt;」，「>」，「&」等）を，HTML エンティティ（「&lt;」，「&gt;」，「&amp;」等）に置換する方法が
    あります．また，HTML タグを出力する場合は，その属性値を必ず「"」（ダブルクォート）で括るようにし
    ます．そして，「"」で括られた属性値に含まれる「"」を，HTML エンティティ「&quot;」にエスケープします．
    脆弱性防止の観点からエスケープ処理が必須となるのは，外部からウェブアプリケーションに渡さ
    れる「入力値」の文字列や，データベースやファイルから読み込んだ文字列，その他，何らかの文字列
    を演算によって生成した文字列等です．しかし，必須であるか不必要であるかによらず，テキストとして
    出力するすべてに対してエスケープ処理を施すよう，一貫したコーディングをすることで，対策漏れを
    防止することができます．<br>
    なお，対象となる出力処理はHTTPレスポンスへの出力に限りません．JavaScriptの
    document.write メソッドや innerHTML プロパティ等を使用して動的にウェブページの内容を変更する
    場合も，上記と同様の処理が必要です．
    <h3>URL を出力するときは，「http://」や 「https://」で始まる URL のみを許可する．</h3>
    URL には，「http://」や「https://」から始まるものだけでなく，「javascript:」の形式で始まるもの
    もあります．ウェブページに出力するリンク先や画像の URL が，外部からの入力に依存する形で動的
    に生成される場合，その URL にスクリプトが含まれていると，クロスサイト・スクリプティング攻撃が可
    能となる場合があります．たとえば，利用者から入力されたリンク先の URL を「&lt;a href="リンク先の
    URL">」の形式でウェブページに出力するウェブアプリケーションは，リンク先の URL に「javascript:」
    等から始まる文字列を指定された場合に，スクリプトを埋め込まれてしまう可能性があります．リンク先
    の URL には「http://」や「https://」から始まる文字列のみを許可する，「ホワイトリスト方式」で実装してください．
    <h3>&lt;script>...&lt;/script> 要素の内容を動的に生成しない．</h3>
    ウェブページに出力する&lt;script>...&lt;/script>要素の内容が，外部からの入力に依存する形で動的に生成される場合，任意のスクリプトが埋め込まれてしまう可能性があります．危険なスクリプトだけを排除する方法も考えられますが，危険なスクリプトであることを確実に判断することは難しいため，
    &lt;script>...&lt;/script>要素の内容を動的に生成する仕様は，避けることをお勧めします．    
    <h3>スタイルシートを任意のサイトから取り込めるようにしない．
    </h3>
    スタイルシートには，expression() 等を利用してスクリプトを記述することができます．このため任意のサイトに置かれたスタイルシートを取り込めるような設計をすると，生成するウェブページにスクリプトが埋め込まれてしまう可能性があります．取り込んだスタイルシートの内容をチェックし，危険なスクリプトを排除する方法も考えられますが，確実に排除することは難しいため，スタイルシートを外部から指定可能な仕様は，避けることが望まれます．<br>
    情報処理推進機構「安全なウェブサイトの作り方」改訂第7版より引用<br>
    <<a href="/learn">戻る</a>

</body>
</html>