<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>正解です</h2>
    正解は2.ヘッダの出力を直接行わず、ウェブアプリケーションの実行環境や言語に用意されているヘッダ出力用 API を使用する。です<br>
    ウェブアプリケーションの実行環境によっては、Content-Type フィールドをはじめとする HTTP レス
ポンスヘッダを、プログラムで直接出力するものがあります。このような場合に、フィールド値に式の値
をそのまま出力すると、外部から与えられた改行コードが余分な改行として差し込まれることになりま
す。HTTP ヘッダは改行によって区切られる構造となっているため、これを許すと、任意のヘッダフィー
ルドや任意のボディを注入されたり、レスポンスを分割されたりする原因となります。ヘッダの構造は
継続行が許される等単純なものではありませんので、実行環境に用意されたヘッダ出力用の API を使
用することをお勧めします。<br>
    <a href="/learn/7jack/pretest2">次へ</a>
    
</body>
</html>