<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span th:text="${userName}"></span>,There are your brillant badges!<br>
    <th:block th:if="${userBadge.isBadge1() == true}">
        <p>Your badge1</p>
    </th:block>
    <th:block th:if="${userBadge.isBadge2() == true}">
        <p>Your badge2</p>
    </th:block>



<a href="menu">click here to menu</a>


</body>
</html>