<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    There are "SECURITY MASTERS"<br>

    1st:<span th:text="${list.get(0).getName()}"></span> Company Worth:<span th:text="${list.get(0).getCompanyWorth()}"></span>$ <br>
    2nd:<span th:text="${list.get(1).getName()}"></span> Company Worth:<span th:text="${list.get(1).getCompanyWorth()}"></span>$ <br>
    3rd:<span th:text="${list.get(2).getName()}"></span> Company Worth:<span th:text="${list.get(2).getCompanyWorth()}"></span>$ <br>
<a href="menu">click here to menu</a>


</body>
</html>