<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>学習の概要</h2>
    この章では"クロスサイトスクリプティング"について学習します．<br>
    ウェブアプリケーションの中には、検索のキーワードの表示画面や個人情報登録時の確認画面、掲示板、ウェブのログ統計画面等、利用者からの入力内容や HTTP ヘッダの情報を処理し、ウェブページとして出力するものがあります。ここで、ウェブページへの出力処理に問題がある場合、そのウェブページにスクリプト等を埋め込まれてしまいます。この問題を「クロスサイト・スクリプティングの脆弱性」と呼び、この問題を悪用した攻撃手法を、「クロスサイト・スクリプティング攻撃」と呼びます。クロスサイト・スクリプティング攻撃の影響は、ウェブサイト自体に対してではなく、そのウェブサイトのページを閲覧している利用者に及びます。<br>
    IPAによると、セキュリティインシデント届け出の約5割はこの攻撃によって発生しているとされている、非常に有名な攻撃方法です。
    <h2>発生しうる脅威</h2>
    セッション管理の不備により，発生しうる脅威は次のとおりです．
    <ul>
        <li>本物サイト上に偽のページが表示される
        </li>
        偽情報の流布による混乱，フィッシング詐欺による重要情報の漏えい 等
        <li>ブラウザが保存している Cookie を取得される</li>
        Cookie にセッション ID が格納されている場合、さらに利用者へのなりすましにつながる(前章セッション管理の不備でも学習しましたね)，Cookie に個人情報等が格納されている場合、その情報が漏えいする        
        <li>任意の Cookie をブラウザに保存させられる</li>
        セッション ID が利用者に送り込まれ、セッション ID の固定化（これも前回の学習範囲です）攻撃に悪用される

    </ul>
    <a href="/learn/4xss/lecture">次へ</a>
    
</body>
</html>