<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    問題2 : 以下の選択肢の中から，XSS対策として最もエスケープ処理を施すべき文字を選択してください．<br>
    1.&deg;<br>
    2.&cent;<br>
    3.&copy;<br>
    4.&lt;<br>

    <form th:action="@{/learn/4xss/test2}" method="post">
        <button name="ans" type="submit" value="1">1 
        <button name="ans" type="submit" value="2">2 
        <button name="ans" type="submit" value="3">3 
        <button name="ans" type="submit" value="4">4 
    </form>
</body>
</html>